@charset "UTF-8";

p {
	font-size: 1.5em;
}

.error {
	color: red;
}

.login {
	display: inline-block;
}

.regist {
	display: inline-block;
}

form {
	display: inline-block;
	padding: 50px;
}

.columlist {
	display: inline-block;
	padding: 0 10px 40px 10px;
}

input[type=submit], [type=reset] {
	padding: 5px 15px;
	background: #ccc;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 20px;
}

button[type=submit] {
	padding: 5px 15px;
	background: #ccc;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 20px;
}

textarea {
	font-size: 28pt;
}

.no {
	display: none;
}

.list {
	width: 100%;
	word-wrap: break-word;
}